docopt==0.6.2 ; python_version >= "3.9" and python_version < "4.0"
stomp-py==8.1.0 ; python_version >= "3.9" and python_version < "4.0"
websocket-client==1.6.3 ; python_version >= "3.9" and python_version < "4.0"
